<h3>コメント一覧</h3>
<div class = all>
<table>

   <thead>

     <tr>
     <th>画像</th>
</tr>
   </thead>

<tbody>

<% @posts.each do |post| %>

<tr>

<td>
<div class= image>
<% if post.image.attached? %>
        <%= image_tag post.image ,size: "50x60" %>
        <% end %></div></td><% end %>

</table>
</tbody>


<table>
   <thead>
    <tr>
<th>投稿番号</th>

       <th>コメント</th>
     </tr>
     </thead>

<tbody>
<% @comments.each do |comment| %>
<tr>
<div class=comment>
<td><%= comment.post_id%></td>
<td><%= link_to "#{comment.comment}", {controller: 'comments', action: 'show', id: comment.id} %> </td></div>

</tr>
</div>
<% end %>

</div>
</tbody>
</table>

