<h3>コメント一覧</h3>
<div class = all>

<table class="comments">
   <thead>
    <tr>
<th>画像</th>
<th>投稿番号post</th>
<th>コメント</th>
     </tr>
     </thead>

<tbody>
<% @comments.each do |comment| %>
<tr>
<div class=comment>
<td><% if comment.post.image.attached? %>
        <%= image_tag comment.post.image ,size: "50x60" %>
        <% end %></td>
<td><%= comment.post_id%></td>
<td><%= link_to "#{comment.comment}", {controller: 'comments', action: 'show', id: comment.id} %> </td></div>

</tr>
</div>
<% end %>

</div>
</tbody>
</table>

