<% if @comment.post.image.attached? %>
        <%= image_tag @comment.post.image ,size: "150x250" %>
        <% end %>
        <br>
<th>タイトル名</th>
<br>
<td><%= @comment.post.post_name%></td>
<br>
<th>コメント</th>
<br>
<td><%= @comment.id%></td>
<td><%= @comment.comment%></td>

