 <div class ="comment-show">
 <div class ="comment-image">

 <% if @comment.post.image.attached? %>
<%= image_tag @comment.post.image ,size: "150x250", class:"td" %>
<% end %>
        <br></div>
         <div class ="comment-title">
       <div class ="tilte-name">
<th >タイトル名</th></div>

<div class ="show-continue">
<td><%= @comment.post.post_name%></td></div>
<br>
<div class ="comment-name">
<th>コメント</th></div>

<div class ="show-continue">
<td><%= @comment.comment%></td></div>
</div>
</div>