/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


footer{
  bottom: 0
  width:100px;
}
 .menu_li{
  background-color: #CCFFFF;
  width:100px;
  margin-bottom: 20px;
  padding:3px;
  text-align:center;
  list-style: none;
  height: 100%;
  color: black;

 }
 .list_navi{
  display: flex;
  justify-content: center;
  margin: 0 50px;

  list-style: none;


 }
 .list_navi .menu_li{
  margin: 0 30px;
  margin-bottom: 20px;
  list-style: none;
  width: 200px;


 }
 .color{
height: 100%;
text-align: center;
 }

 .menu_li{
  text-decoration:none;
 }