/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .color{
    background-image: url(https://user0514.cdnw.net/shared/img/thumb/PAK35_enogutoparetohude_TP_V.jpg);
    background-position:center center;  /* 背景画像の位置を中央に */
    background-size:contain;  /* 背景画像が領域全体を覆うように */
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;

  }

 h1{
    width: 300px;
    margin-top: 100px;
    background-color: yellow;
    border-radius: 30% 30% 30% 40%/30% 30% 40% 40%;
    opacity: 0.5;

  top: 50%;
  left: 50%;
 }

footer{
    bottom: 0; /*下に固定*/
    color: white;
    text-align: center;
    width:50px;
}
 .menu_li{
  background-color: #CCFFFF;
  width:100px;
  margin-bottom: 20px;
  padding:3px;
  text-align:center;
  list-style: none;
  height: 100%;
  color: black;

 }
 .list_navi{
  display: flex;
  justify-content: center;
  margin: 0 50px;

  list-style: none;


 }
 .list_navi .menu_li{
  margin: 0 30px;
  margin-bottom: 20px;
  list-style: none;
  width: 200px;
  border-radius: 30% 30% 30% 40%/30% 30% 40% 40%;

 }


 .menu_li{
  text-decoration:none;
 }