/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .color{
    background-image: url(https://user0514.cdnw.net/shared/img/thumb/PAK35_enogutoparetohude_TP_V.jpg);
    background-position:center center;  /* 背景画像の位置を中央に */
    background-size:contain;  /* 背景画像が領域全体を覆うように */
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    height: 170px;
    width:100%;
    padding-bottom: 40px;

    white-space: nowrap;
  }

 h1{

    width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: yellow;
    border-radius: 10% 20% 20% 20%/10% 20% 20% 20%;

    position: absolute;
    top:20%;
    left:40%;
    text-align:center;
  white-space: nowrap;
  line-height:20px;

 }

footer{


    bottom: 0; /*下に固定*/
    color: black;
    text-align: center;
    width:100%;
    margin: 0 auto;
    background-color: bisque;

}
a.list_navi,a.menu_li :hover{
    color: white ;
  }
 .menu_li{
    font-size: 20px;
  background-color: #CCFFFF;
  width:100px;
  margin-bottom: 20px;
  padding:3px;
  text-align:center;
  list-style: none;
  height: 100%;
  color: black;




 }
 .list_navi{
  display: flex;
  justify-content: center;
  margin: 0 50px;

  list-style: none;
  position: absolute;
  top:70%;
  left:15%;

 }
 .list_navi .menu_li{
  margin: 0 30px;
  margin-bottom: 20px;
  list-style: none;
  width: 200px;
  border-radius: 30% 30% 30% 40%/30% 30% 40% 40%;



 }


 .menu_li{
  text-decoration:none;
 }