

.image{
  padding-bottom: 10px;
border-radius: 50%;
}
.comment{
  height: 10%;
  padding: 5px;
}

.all{
  display:flex;
  text-align: center;
  }
// Place all the styles related to the displays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
