
.color{
background-color: antiquewhite;
}
.image img{
object-fit: contain;
}

.comments{
  background-color: antiquewhite;
  margin: 0 auto;


}
.table{
  margin: 0 auto;
  margin-bottom:50px;

}
.all{
  text-align: center;
  position: relative
}
h3{
  margin-left: 50px;
  text-align: center;


}
// Place all the styles related to the displays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
