td img{

  height:auto;
  }
.bisque{
  background-color:rgba(255,255,255,0.5);
  display: block;
  width:550px;
  margin: 0 auto;
  white-space: nowrap;
  /*position: relative; */
  margin: 0 auto;
}
th{
  background-color: bisque;
}
.post{
  color:rgb(209, 87, 16);
}

.post:hover{
  color: white ;
}
h2{
  background-color: bisque;
width:200px;
margin:0px auto;
}
.index-post{
  width:200px;
margin:0px auto;
margin-bottom: 20px;
}
.background{
  background-image: url(https://images.unsplash.com/photo-1518998053901-5348d3961a04?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3348&q=80);
  background-position:center center;  /* 背景画像の位置を中央に */
  background-size:cover;
padding-top:20px;
}
h3{
  margin: 0px;
}
.post{
  text-decoration: none;

}
td{
  text-align: center;
}
