// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
ul{
  list-style: none;
}
.link:hover{
  color: white ;
}
.link{
  text-decoration: none;
  color:black;
}
.imagegrongd{
  margin:2px;
  padding:0px;
}

.view{
 background-image: url(https://user0514.cdnw.net/shared/img/thumb/PKbokeIMGP05041680_TP_V.jpg);
 background-repeat: none;
 background-size:  cover;

   margin: 0 auto;
  display:flex;
  justify-content: center;
 flex-wrap: wrap ;


}
