.field{
  background-color:rgba(255,255,255,0.5);
  width:300px;
  margin: 0 auto;
}
  .display{
padding: 10px;
font-size: 20px;
text-align: center;
  }



.submit{
  text-align: center;
  position: absolute;
  top:70%;
  left:47%;
}
.image-new{
  height: 300px;
  background-image: url(https://images.unsplash.com/photo-1595878715977-2e8f8df18ea8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3387&q=80);
  padding-top:30px;
  /*
   background-repeat: no-repeat;
   background-size:cover;*/
   background-position:center center;  /* 背景画像の位置を中央に */
   background-size:cover;
   background-size:  contain;
   background-size: 100%;
   position: relative;
}
.pass{
  background-color: bisque;
  width: 300px;
  margin:0px auto;
}
